<a href="https://colab.research.google.com/github/vijayareddy2002/information_retrieval/blob/main/Vector_space_modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [35]:
doc1="vijaya studies ir in ir lab teaching by ir mam"

In [36]:
doc2="aparna teaches at rvrcollege"

In [37]:
doc3="data scientists work on large datasets"

In [54]:
l1=[doc1,doc2,doc3]

In [55]:
l1

['vijaya studies ir in ir lab teaching by ir mam',
 'aparna teaches at rvrcollege',
 'data scientists work on large datasets']

In [43]:

def stopwords_remove(example_sent):
  
    stop_words = set(stopwords.words('english'))
  
    word_tokens = word_tokenize(example_sent)
# converts the words in word_tokens to lower case and then checks whether 
#they are present in stop_words or not
    filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]
#with no lower case conversion
    filtered_sentence = []
  
    for w in word_tokens:
        if w not in stop_words:
            filtered_sentence.append(w)
    k=" ".join(filtered_sentence)
    return k

In [44]:
l2=[]
for  i in l1:
  l2.append(stopwords_remove(i))

In [45]:
l2

['vijaya studies ir ir lab teaching ir mam',
 'aparna teaches rvrcollege',
 'data scientists work large datasets']

In [46]:
l3=l2

In [66]:
ks1=[]
for i in range(0,len(l3)):
  ks1.extend(l3[i].lower().split(" "))

In [67]:
ks1

['vijaya',
 'studies',
 'ir',
 'ir',
 'lab',
 'teaching',
 'ir',
 'mam',
 'aparna',
 'teaches',
 'rvrcollege',
 'data',
 'scientists',
 'work',
 'large',
 'datasets']

In [72]:
s=set(ks1)
ks2=list(s)
print(ks2)

['teaching', 'data', 'large', 'vijaya', 'lab', 'studies', 'aparna', 'work', 'ir', 'mam', 'teaches', 'scientists', 'datasets', 'rvrcollege']

In [73]:
ks=sorted(ks2)

In [74]:
ks

['aparna',
 'data',
 'datasets',
 'ir',
 'lab',
 'large',
 'mam',
 'rvrcollege',
 'scientists',
 'studies',
 'teaches',
 'teaching',
 'vijaya',
 'work']

In [75]:
#claculating term frequency
def termfrequency(doc,ks):
  nf=[]
  z=doc.lower().split(" ")
  for i in ks:
    if i in z:
      k=z.count(i)
      nf.append(k)
    else:
      nf.append(0)
  return nf

In [76]:
term_frequency=[]
p_doc_term_freq=[]
for i in range(0,len(l2)):
    #print(type(l2[i])
    zw=termfrequency(l2[i],ks)
    term_frequency.append(zw)
print(term_frequency)

[[0, 0, 0, 3, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0], [1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0], [0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1]]

In [77]:
def remove_duplicates(doc):
   s=doc.lower().split(" ")
   d=set(s)
   c=list(d)
   return c

In [87]:
#idf---n(t)==no of documents that term occurs
#SPLIT AND MERGE THE WORDS BY REMOVING REPEATED WORDS
xp=[]
for i in range(0,len(l2)):
  xp.extend(remove_duplicates(l2[i]))
print(xp)

['teaching', 'vijaya', 'lab', 'studies', 'ir', 'mam', 'aparna', 'teaches', 'rvrcollege', 'data', 'large', 'work', 'scientists', 'datasets']

In [88]:
sorted_xp=sorted(xp)

In [90]:
import math
idf=[]
for i in range(0,len(sorted_xp)):
  c=0
  for j in range(0,len(l2)):
    if sorted_xp[i] in l2[j]:
      c=c+1
  if(c!=0):
       idf1=math.log(len(l2)/c,2)#base-2
       idf.append((sorted_xp[i],idf1))

In [91]:
print(idf)

[('aparna', 1.5849625007211563), ('data', 1.5849625007211563), ('datasets', 1.5849625007211563), ('ir', 1.5849625007211563), ('lab', 1.5849625007211563), ('large', 1.5849625007211563), ('mam', 1.5849625007211563), ('rvrcollege', 1.5849625007211563), ('scientists', 1.5849625007211563), ('studies', 1.5849625007211563), ('teaches', 1.5849625007211563), ('teaching', 1.5849625007211563), ('vijaya', 1.5849625007211563), ('work', 1.5849625007211563)]

In [92]:
d={}
for i in range(0,len(idf)):
  d.update({idf[i][0]:idf[i][1]})

In [93]:
print(d)

{'aparna': 1.5849625007211563, 'data': 1.5849625007211563, 'datasets': 1.5849625007211563, 'ir': 1.5849625007211563, 'lab': 1.5849625007211563, 'large': 1.5849625007211563, 'mam': 1.5849625007211563, 'rvrcollege': 1.5849625007211563, 'scientists': 1.5849625007211563, 'studies': 1.5849625007211563, 'teaches': 1.5849625007211563, 'teaching': 1.5849625007211563, 'vijaya': 1.5849625007211563, 'work': 1.5849625007211563}

In [94]:
print(len(ks))

14

In [95]:
print(len(term_frequency[0]))

14

In [96]:
for i in range(0,len(term_frequency)):
  sx=[]
  for j in range(0,len(ks)):
    term_frequency[i][j]=term_frequency[i][j]*d[ks[j]]

In [97]:
print(term_frequency)

[[0.0, 0.0, 0.0, 4.754887502163469, 1.5849625007211563, 0.0, 1.5849625007211563, 0.0, 0.0, 1.5849625007211563, 0.0, 1.5849625007211563, 1.5849625007211563, 0.0], [1.5849625007211563, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.5849625007211563, 0.0, 0.0, 1.5849625007211563, 0.0, 0.0, 0.0], [0.0, 1.5849625007211563, 1.5849625007211563, 0.0, 0.0, 1.5849625007211563, 0.0, 0.0, 1.5849625007211563, 0.0, 0.0, 0.0, 0.0, 1.5849625007211563]]

In [98]:
query=input("enter query")
qs=query.lower().split(" ")
ql=[]
for i in range(0,len(ks)):
  if ks[i] in qs:
    ql.append(qs.count(ks[i]))#we should divide with max term frequency --->
  else:
    ql.append(0)

enter queryaparna vijaya ir

In [99]:
ql

[1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0]

In [100]:
len(ql)

14

In [ ]:
#tf-idf for query

In [101]:
for i in range(0,len(ks)):
   ql[i]=ql[i]*d[ks[i]]

In [102]:
ql

[1.5849625007211563,
 0.0,
 0.0,
 1.5849625007211563,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.5849625007211563,
 0.0]

In [108]:
import numpy as np
from numpy.linalg import norm

In [109]:
qu=np.array(ql)

In [111]:
m_ex=[]
for i in range(0,len(term_frequency)):
  f=np.array(term_frequency[i])
  cosine = np.dot(f,qu)/(norm(f)*norm(qu))
  m_ex.append(cosine)

In [112]:
m_ex

[0.6172133998483678, 0.33333333333333337, 0.0]

In [114]:
related_docnum=m_ex.index(max(m_ex))

In [117]:
related_docnum+=1

In [118]:
print("the related document is :",related_docnum)

the related document is : 1